<div class="insurance-history-container">
    <!-- Search Section -->
    <div class="search-container">
      <input type="text" [(ngModel)]="searchTerm" (input)="searchInsurances()" placeholder="Search by Vehicle Number"
        class="search-input">
      <button *ngIf="searchTerm" (click)="clearSearch()" class="clear-search-btn">
        Clear
      </button>
    </div>
  
    <!-- Insurances Grid -->
    <div class="insurances-grid">
      <div *ngFor="let insurance of filteredInsurances" 
           [ngClass]="{'card-future': insurance.endDate > currentDate, 'card-past': insurance.endDate <= currentDate}" 
           class="insurance-card">
        <div class="card-header">
          <h3>{{ insurance.vehicleNumber }}</h3>
        </div>
        <div class="card-body">
          <p><strong>Insurance Number:</strong> {{ insurance.id }} </p>
          <p><strong>Make:</strong> {{ insurance.make }} </p>
          <p><strong>Model:</strong> {{ insurance.model }}</p>
          <p><strong>Start Date:</strong> {{ insurance.startDate | date:'mediumDate' }}</p>
          <p><strong>End Date:</strong> {{ insurance.endDate | date:'mediumDate' }}</p>
          <p><strong>Premium:</strong> ${{ insurance.premium | number:'1.2-2' }}</p>
        </div>
      </div>
  
      <!-- No Results Message -->
      <div *ngIf="filteredInsurances.length === 0" class="no-results">
        No insurance records found.
      </div>
    </div>
  </div>