<div class="background h-screen w-screen absolute top-0 left-0 z-[-1]">
    <div class="absolute inset-0 bg-black opacity-60"></div>
  
    <!-- Main Content -->
    <main class="flex-none w-100">
      <div class="relative isolate">
        <div class="mx-auto max-w-2xl sm:py-48 lg:py-28 text-center">
          <h1
            class="text-5xl font-semibold tracking-tight text-white sm:text-7xl"
          >
            Welcome Underwriter
          </h1>
          <p class="mt-8 text-lg font-medium text-slate-50 sm:text-xl/8">
            Driving Efficiency, Simplifying Vehicle Management.
          </p>
          <div class="mt-10 flex items-center justify-center gap-x-6">
            <a href="#" class="text-sm/6 font-semibold text-gray-300"
              >About Us<span aria-hidden="true">→</span></a
            >
          </div>
        </div>
      </div>
    </main>
  </div>
  